In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.options.mode.copy_on_write = True

In [2]:
dados_limpo_2021 = pd.read_excel("seguro-rural-limpo-2021.xlsx", decimal=',')
dados_limpo_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212839 entries, 0 to 212838
Data columns (total 20 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   apolice         212839 non-null  object
 1   cod_mun         212839 non-null  int64
 2   municipio       212839 non-null  object
 3   uf              212839 non-null  object
 4   tipo_prod       212839 non-null  object
 5   seguradora      212839 non-null  object
 6   cultura         212839 non-null  object
 7   area            212839 non-null  float64
 8   animal          212839 non-null  int64
 9   duracao         212838 non-null  float64
 10  prod_est        212839 non-null  float64
 11  prod_seg        212839 non-null  float64
 12  total_seg       212839 non-null  float64
 13  premio          212839 non-null  float64
 14  taxa            212839 non-null  float64
 15  subvencao       212839 non-null  float64
 16  indenizacao     212839 non-null  float64
 17  evento          212839 non-null  object
 18  sinistro        212839 non-null  int64
 19  sinistralidade  212839 non-null  float64
dtypes: float64(10), int64(3), object(7)
memory usage: 32.5+ MB

In [3]:
#carregando a base
dados_2021 = pd.read_excel("dados-2016-2021.xlsx", decimal=',')
dados_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 697453 entries, 0 to 697452
Data columns (total 38 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   NM_RAZAO_SOCIAL            697453 non-null  object
 1   CD_PROCESSO_SUSEP          697453 non-null  int64
 2   NR_PROPOSTA                697453 non-null  object
 3   ID_PROPOSTA                697453 non-null  int64
 4   DT_PROPOSTA                697453 non-null  datetime64[ns]
 5   DT_INICIO_VIGENCIA         697453 non-null  datetime64[ns]
 6   DT_FIM_VIGENCIA            697453 non-null  object
 7   NM_SEGURADO                697453 non-null  object
 8   NR_DOCUMENTO_SEGURADO      697453 non-null  object
 9   NM_MUNICIPIO_PROPRIEDADE   697453 non-null  object
 10  SG_UF_PROPRIEDADE          697453 non-null  object
 11  LATITUDE                   697453 non-null  object
 12  NR_GRAU_LAT                697453 non-null  int64
 13  NR_MIN_LAT                 697453 non-null  int64
 14  NR_SEG_LAT                 697453 non-null  int64
 15  LONGITUDE                  697453 non-null  object
 16  NR_GRAU_LONG               697453 non-null  int64
 17  NR_MIN_LONG                697453 non-null  int64
 18  NR_SEG_LONG                697453 non-null  int64
 19  NR_DECIMAL_LATITUDE        697453 non-null  object
 20  NR_DECIMAL_LONGITUDE       697453 non-null  object
 21  NM_CLASSIF_PRODUTO         697453 non-null  object
 22  NM_CULTURA_GLOBAL          697453 non-null  object
 23  NR_AREA_TOTAL              697453 non-null  float64
 24  NR_ANIMAL                  697453 non-null  object
 25  NR_PRODUTIVIDADE_ESTIMADA  697453 non-null  object
 26  NR_PRODUTIVIDADE_SEGURADA  697453 non-null  object
 27  NivelDeCobertura           697453 non-null  object
 28  VL_LIMITE_GARANTIA         697453 non-null  float64
 29  VL_PREMIO_LIQUIDO          697453 non-null  float64
 30  PE_TAXA                    697453 non-null  float64
 31  VL_SUBVENCAO_FEDERAL       697453 non-null  float64
 32  NR_APOLICE                 697453 non-null  object
 33  DT_APOLICE                 697453 non-null  datetime64[ns]
 34  ANO_APOLICE                697453 non-null  int64
 35  CD_GEOCMU                  697453 non-null  object
 36  VALOR_INDENIZAÇÃO          697453 non-null  object
 37  EVENTO_PREPONDERANTE       697453 non-null  object
dtypes: datetime64[ns](3), float64(5), int64(9), object(21)
memory usage: 202.2+ MB

In [4]:
#salvando os dados
dados_lat_long = dados_2021[['NR_APOLICE', 'LATITUDE', 'NR_GRAU_LAT', 'NR_MIN_LAT', 'NR_SEG_LAT', 
                            'LONGITUDE', 'NR_GRAU_LONG', 'NR_MIN_LONG', 'NR_SEG_LONG']]
dados_lat_long

,NR_APOLICE,LATITUDE,NR_GRAU_LAT,NR_MIN_LAT,NR_SEG_LAT,LONGITUDE,NR_GRAU_LONG,NR_MIN_LONG,NR_SEG_LONG
0,02010055773,S,23,58,44,W,52,36,17
1,1000111043508,S,23,54,20,W,49,0,38
2,02010055932,S,22,35,6,W,55,8,38
3,3354002250401,S,25,31,20,W,53,35,59
4,88834,S,26,33,8,W,52,14,23
...,...,...,...,...,...,...,...,...,...
697448,178989,S,15,7,4,W,46,19,56
697449,181738,S,15,28,16,W,48,41,24
697450,182550,S,14,23,52,W,48,35,11
697451,179849,S,21,51,51,W,54,49,35
697452,182278,S,25,12,7,W,54,13,24

In [5]:
#alterando os nomes da coluna
dados_lat_long.columns = ['apolice', 'latitude', 'lat.grau', 'lat.min', 'lat.seg', 'longitude', 'long.grau', 'long.min', 'long.seg']
pd.DataFrame(dados_lat_long)

,apolice,latitude,lat.grau,lat.min,lat.seg,longitude,long.grau,long.min,long.seg
0,02010055773,S,23,58,44,W,52,36,17
1,1000111043508,S,23,54,20,W,49,0,38
2,02010055932,S,22,35,6,W,55,8,38
3,3354002250401,S,25,31,20,W,53,35,59
4,88834,S,26,33,8,W,52,14,23
...,...,...,...,...,...,...,...,...,...
697448,178989,S,15,7,4,W,46,19,56
697449,181738,S,15,28,16,W,48,41,24
697450,182550,S,14,23,52,W,48,35,11
697451,179849,S,21,51,51,W,54,49,35
697452,182278,S,25,12,7,W,54,13,24

In [6]:
#transformando os minutos e segundos em graus
dados_lat_long['lat.min'] = dados_lat_long['lat.min']/60
dados_lat_long['long.min'] = dados_lat_long['long.min']/60

dados_lat_long['lat.seg'] = dados_lat_long['lat.seg']/3600
dados_lat_long['long.seg'] = dados_lat_long['long.seg']/3600

In [7]:
dados_lat_long

,apolice,latitude,lat.grau,lat.min,lat.seg,longitude,long.grau,long.min,long.seg
0,02010055773,S,23,0.966667,0.012222,W,52,0.600000,0.004722
1,1000111043508,S,23,0.900000,0.005556,W,49,0.000000,0.010556
2,02010055932,S,22,0.583333,0.001667,W,55,0.133333,0.010556
3,3354002250401,S,25,0.516667,0.005556,W,53,0.583333,0.016389
4,88834,S,26,0.550000,0.002222,W,52,0.233333,0.006389
...,...,...,...,...,...,...,...,...,...
697448,178989,S,15,0.116667,0.001111,W,46,0.316667,0.015556
697449,181738,S,15,0.466667,0.004444,W,48,0.683333,0.006667
697450,182550,S,14,0.383333,0.014444,W,48,0.583333,0.003056
697451,179849,S,21,0.850000,0.014167,W,54,0.816667,0.009722
697452,182278,S,25,0.200000,0.001944,W,54,0.216667,0.006667

In [8]:
#somando graus minutos e segundos
dados_lat_long['lat.grau'] = dados_lat_long['lat.grau']+dados_lat_long['lat.min']+dados_lat_long['lat.seg']
dados_lat_long['long.grau'] = dados_lat_long['long.grau']+dados_lat_long['long.min']+dados_lat_long['long.seg']
dados_lat_long

,apolice,latitude,lat.grau,lat.min,lat.seg,longitude,long.grau,long.min,long.seg
0,02010055773,S,23.978889,0.966667,0.012222,W,52.604722,0.600000,0.004722
1,1000111043508,S,23.905556,0.900000,0.005556,W,49.010556,0.000000,0.010556
2,02010055932,S,22.585000,0.583333,0.001667,W,55.143889,0.133333,0.010556
3,3354002250401,S,25.522222,0.516667,0.005556,W,53.599722,0.583333,0.016389
4,88834,S,26.552222,0.550000,0.002222,W,52.239722,0.233333,0.006389
...,...,...,...,...,...,...,...,...,...
697448,178989,S,15.117778,0.116667,0.001111,W,46.332222,0.316667,0.015556
697449,181738,S,15.471111,0.466667,0.004444,W,48.690000,0.683333,0.006667
697450,182550,S,14.397778,0.383333,0.014444,W,48.586389,0.583333,0.003056
697451,179849,S,21.864167,0.850000,0.014167,W,54.826389,0.816667,0.009722
697452,182278,S,25.201944,0.200000,0.001944,W,54.223333,0.216667,0.006667

In [9]:
#trocanso Sul e Oeste pelo sinal de negativo
dados_lat_long = dados_lat_long[['apolice', 'latitude', 'lat.grau', 'longitude', 'long.grau']]

dados_lat_long['latitude'] = dados_lat_long['latitude'].str.replace('S', '-')
dados_lat_long['longitude'] = dados_lat_long['longitude'].str.replace('W', '-')

dados_lat_long['lat.grau'] = dados_lat_long['lat.grau'].astype(str)
dados_lat_long['latitude'] = dados_lat_long[['latitude', 'lat.grau']].agg(" ".join, axis=1)

dados_lat_long['long.grau'] = dados_lat_long['long.grau'].astype(str)
dados_lat_long['longitude'] = dados_lat_long[['longitude', 'long.grau']].agg(" ".join, axis=1)
dados_lat_long

,apolice,latitude,lat.grau,longitude,long.grau
0,02010055773,- 23.978888888888886,23.978888888888886,- 52.60472222222222,52.60472222222222
1,1000111043508,- 23.905555555555555,23.905555555555555,- 49.010555555555555,49.010555555555555
2,02010055932,- 22.584999999999997,22.584999999999997,- 55.14388888888889,55.14388888888889
3,3354002250401,- 25.522222222222222,25.522222222222222,- 53.599722222222226,53.599722222222226
4,88834,- 26.552222222222223,26.552222222222223,- 52.23972222222222,52.23972222222222
...,...,...,...,...,...
697448,178989,- 15.117777777777778,15.117777777777778,- 46.33222222222223,46.33222222222223
697449,181738,- 15.471111111111112,15.471111111111112,- 48.69,48.69
697450,182550,- 14.397777777777778,14.397777777777778,- 48.58638888888889,48.58638888888889
697451,179849,- 21.86416666666667,21.86416666666667,- 54.82638888888889,54.82638888888889
697452,182278,- 25.201944444444443,25.201944444444443,- 54.223333333333336,54.223333333333336

In [10]:
dados_lat_long = dados_limpo_2021.merge(dados_lat_long, left_on='apolice', right_on='apolice', how='left')

In [11]:
dados_lat_long

,apolice,cod_mun,municipio,uf,tipo_prod,seguradora,cultura,area,animal,duracao,...,taxa,subvencao,indenizacao,evento,sinistro,sinistralidade,latitude,lat.grau,longitude,long.grau
0,10001010026768,5218805,Rio Verde,GO,CUSTEIO,Newe Seguros S.A,Milho 2ª safra,62.00,0,181.0,...,0.059334,3158.11,17583.39,SECA,1,2.227079,- 18.08611111111111,18.08611111111111,- 50.50472222222222,50.50472222222222
1,494404,5211909,Jataí,GO,CUSTEIO,BRASILSEG COMPANHIA DE SEGUROS,Milho 2ª safra,268.00,0,365.0,...,0.055000,13380.91,0.00,0,0,0.000000,- 17.924166666666668,17.924166666666668,- 52.165277777777774,52.165277777777774
2,4525000065701,5107859,São Félix do Araguaia,MT,PRODUTIVIDADE,Mapfre Seguros Gerais S.A.,Milho 2ª safra,850.00,0,244.0,...,0.084452,48000.00,0.00,0,0,0.000000,- 11.386666666666667,11.386666666666667,- 52.23305555555556,52.23305555555556
3,1000100040113,4107306,Doutor Camargo,PR,PRODUTIVIDADE,FairFax Brasil Seguros Corporativos S/A,Milho 2ª safra,15.73,0,278.0,...,0.111200,2110.90,16413.80,SECA,1,3.110288,- 23.529999999999998,23.529999999999998,- 52.22166666666667,52.22166666666667
4,1000111016260,4126009,São Sebastião da Amoreira,PR,PRODUTIVIDADE,Too Seguros S.A.,Milho 2ª safra,124.97,0,180.0,...,0.143567,17502.36,248902.36,SECA,1,5.688428,- 23.418333333333333,23.418333333333333,- 50.79388888888889,50.79388888888889
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219574,178989,3126208,Formoso,MG,CUSTEIO,BRASILSEG COMPANHIA DE SEGUROS,Milho 2ª safra,372.00,0,365.0,...,0.066500,17575.21,0.00,0,0,0.000000,- 15.117777777777778,15.117777777777778,- 46.33222222222223,46.33222222222223
219575,181738,0,Girassol,GO,CUSTEIO,BRASILSEG COMPANHIA DE SEGUROS,Milho 2ª safra,341.00,0,365.0,...,0.064155,25127.74,0.00,0,0,0.000000,- 15.471111111111112,15.471111111111112,- 48.69,48.69
219576,182550,5214606,Niquelândia,GO,CUSTEIO,BRASILSEG COMPANHIA DE SEGUROS,Milho 2ª safra,160.00,0,365.0,...,0.065000,11138.68,0.00,0,0,0.000000,- 14.397777777777778,14.397777777777778,- 48.58638888888889,48.58638888888889
219577,179849,5004502,Itaporã,MS,CUSTEIO,BRASILSEG COMPANHIA DE SEGUROS,Milho 2ª safra,278.00,0,365.0,...,0.095000,41822.95,0.00,0,0,0.000000,- 21.86416666666667,21.86416666666667,- 54.82638888888889,54.82638888888889
219578,182278,4110953,Itaipulândia,PR,CUSTEIO,BRASILSEG COMPANHIA DE SEGUROS,Milho 2ª safra,162.00,0,365.0,...,0.107625,25382.18,0.00,0,0,0.000000,- 25.201944444444443,25.201944444444443,- 54.223333333333336,54.223333333333336

In [12]:
dados_lat_long.to_excel('seguro-rural-limpo-2021-lat-long.xlsx')