In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#carregando a base
dados_2021 = pd.read_excel("seguro-rural-limpo-2021.xlsx", decimal=',')
dados_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212839 entries, 0 to 212838
Data columns (total 20 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   apolice         212839 non-null  object
 1   cod_mun         212839 non-null  int64
 2   municipio       212839 non-null  object
 3   uf              212839 non-null  object
 4   tipo_prod       212839 non-null  object
 5   seguradora      212839 non-null  object
 6   cultura         212839 non-null  object
 7   area            212839 non-null  float64
 8   animal          212839 non-null  int64
 9   duracao         212838 non-null  float64
 10  prod_est        212839 non-null  float64
 11  prod_seg        212839 non-null  float64
 12  total_seg       212839 non-null  float64
 13  premio          212839 non-null  float64
 14  taxa            212839 non-null  float64
 15  subvencao       212839 non-null  float64
 16  indenizacao     212839 non-null  float64
 17  evento          212839 non-null  object
 18  sinistro        212839 non-null  int64
 19  sinistralidade  212839 non-null  float64
dtypes: float64(10), int64(3), object(7)
memory usage: 32.5+ MB

In [3]:
dados_2021['apolice']

0         10001010026768
1                 494404
2          4525000065701
3          1000100040113
4          1000111016260
               ...
212834            178989
212835            181738
212836            182550
212837            179849
212838            182278
Name: apolice, Length: 212839, dtype: object

In [4]:
#carregando a base com latitude e longitude
dados_2016_2021_lat_long = pd.read_excel("dados-2016-2021-latitude-longitude.xlsx", decimal=',')

In [5]:
#transformando o tipo apolice
dados_2016_2021_lat_long['apolice'] = dados_2016_2021_lat_long['apolice'].astype(str)
dados_2016_2021_lat_long.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 697455 entries, 0 to 697454
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   apolice    697455 non-null  object
 1   latitude   697455 non-null  object
 2   longitude  697455 non-null  object
dtypes: object(3)
memory usage: 16.0+ MB

In [6]:
dados_2016_2021_lat_long['apolice'] = dados_2016_2021_lat_long['apolice'].str.replace(".0", "")
dados_2016_2021_lat_long.head(10).sort_values(by='apolice', ascending=True)

             apolice  latitude longitude
1      1000111043508  -23.5420   -49.038
7      1000111043519  -23.2445  -48.3839
0         2010055773  -23.5844  -52.3617
5         2010055799  -24.1956  -52.3347
2         2010055932   -22.356   -55.838
3      3354002250401  -25.3120  -53.3559
6  5.17720166002e+18    -24.30  -52.4829
9  5.17720166002e+18   -24.426  -52.4915
8              88497  -28.3032  -54.3715
4              88834   -26.338  -52.1423

In [7]:
dados_2016_2021_lat_long['latitude'] = dados_2016_2021_lat_long['latitude'].str.replace("--", "-")
dados_2016_2021_lat_long['latitude']

0         -23.5844
1         -23.5420
2          -22.356
3         -25.3120
4          -26.338
            ...
697450    -14.2352
697451    -21.5151
697452     -25.127
697453          +.
697454          +.
Name: latitude, Length: 697455, dtype: object

In [8]:
dados_2021_lat_long = dados_2021.merge(dados_2016_2021_lat_long, left_on='apolice', right_on='apolice', how='left')

In [9]:
dados_2021_lat_long

,apolice,cod_mun,municipio,uf,tipo_prod,seguradora,cultura,area,animal,duracao,...,total_seg,premio,taxa,subvencao,indenizacao,evento,sinistro,sinistralidade,latitude,longitude
0,10001010026768,5218805,Rio Verde,GO,CUSTEIO,Newe Seguros S.A,Milho 2ª safra,62.00,0,181.0,...,133064.77,7895.27,0.059334,3158.11,17583.39,SECA,1,2.227079,-18.510,-50.3017
1,494404,5211909,Jataí,GO,CUSTEIO,BRASILSEG COMPANHIA DE SEGUROS,Milho 2ª safra,268.00,0,365.0,...,608223.32,33452.28,0.055000,13380.91,0.00,0,0,0.000000,-17.5527,-52.955
2,4525000065701,5107859,São Félix do Araguaia,MT,PRODUTIVIDADE,Mapfre Seguros Gerais S.A.,Milho 2ª safra,850.00,0,244.0,...,2311660.00,195224.61,0.084452,48000.00,0.00,0,0,0.000000,-11.2312,-52.1359
3,1000100040113,4107306,Doutor Camargo,PR,PRODUTIVIDADE,FairFax Brasil Seguros Corporativos S/A,Milho 2ª safra,15.73,0,278.0,...,47457.41,5277.26,0.111200,2110.90,16413.80,SECA,1,3.110288,-23.3148,-52.1318
4,1000111016260,4126009,São Sebastião da Amoreira,PR,PRODUTIVIDADE,Too Seguros S.A.,Milho 2ª safra,124.97,0,180.0,...,304776.84,43755.91,0.143567,17502.36,248902.36,SECA,1,5.688428,-23.256,-50.4738
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219574,178989,3126208,Formoso,MG,CUSTEIO,BRASILSEG COMPANHIA DE SEGUROS,Milho 2ª safra,372.00,0,365.0,...,2624647.14,174539.03,0.066500,17575.21,0.00,0,0,0.000000,-15.74,-46.1956
219575,181738,0,Girassol,GO,CUSTEIO,BRASILSEG COMPANHIA DE SEGUROS,Milho 2ª safra,341.00,0,365.0,...,1016132.26,65189.96,0.064155,25127.74,0.00,0,0,0.000000,-15.2816,-48.4124
219576,182550,5214606,Niquelândia,GO,CUSTEIO,BRASILSEG COMPANHIA DE SEGUROS,Milho 2ª safra,160.00,0,365.0,...,428411.36,27846.73,0.065000,11138.68,0.00,0,0,0.000000,-14.2352,-48.3511
219577,179849,5004502,Itaporã,MS,CUSTEIO,BRASILSEG COMPANHIA DE SEGUROS,Milho 2ª safra,278.00,0,365.0,...,1100603.97,104557.38,0.095000,41822.95,0.00,0,0,0.000000,-21.5151,-54.4935
219578,182278,4110953,Itaipulândia,PR,CUSTEIO,BRASILSEG COMPANHIA DE SEGUROS,Milho 2ª safra,162.00,0,365.0,...,610999.84,65758.86,0.107625,25382.18,0.00,0,0,0.000000,-25.127,-54.1324

In [10]:
dados_2021_lat_long.to_excel('seguro-rural-limpo-2021-lat-long.xlsx')